{% extends "base.html" %}
{% block content %}

{% if request.user.is_authenticated %}

<script>
    async function sendMessage() {
        let fd = new FormData();
        const messageinput = document.getElementById('messageinput');
        fd.append('csrfmiddlewaretoken', document.querySelector('[name=csrfmiddlewaretoken]').value);
        fd.append('message', messageinput.value);
        try {
            await fetch('/chat/', {
                method: 'POST',
                body: fd
            });
            const date = new Date();
            document.querySelector('.chat-frame').innerHTML += `
                <div class="single-message">
                    <h1>${date.toLocaleDateString('en-DE', {month: 'short'})}. ${date.getDate()}, ${date.getFullYear()}:</h1>
                    <p>${messageinput.value}</p>
                </div>
            `;
            messageinput.value = '';
        } catch {
            alert('Fetch fehlgeschlagen');
        }
    }
</script>

<section class="chat-frame">
    {% for message in messages %}
    <div class="single-message">
        <h1>{{ message.created_at }}:</h1>
        <p>{{ message.text }}</p>
    </div>
    {% endfor %}
</section>

<!-- Textfield with Floating Label -->
<form class="chat-form" onsubmit="sendMessage(); return false;" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="message" class="mdl-textfield__input" type="text" id="messageinput">
        <label class="mdl-textfield__label" for="sample3">Nachricht...</label>
    </div>

    <!-- Accent-colored raised button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Nachricht senden
    </button>

</form>

{% else %}
<section class="else">
    <h2>Please log in!</h2>
    <h3>For log in click <a href="/login">here</a></h3>
</section>

{% endif %}

{% endblock %}