{% extends 'base.html' %}
{% block content %}

<script>
    async function createUser() {
        const username = document.getElementById('sample3');
        const password1 = document.getElementById('sample4');
        const password2 = document.getElementById('sample5');
        if (username.value && password1.value === password2.value) {
            let fd = new FormData();
            fd.append('csrfmiddlewaretoken', document.querySelector('[name=csrfmiddlewaretoken]').value);
            fd.append('username', username.value);
            fd.append('password', password1.value);
            try {
                const response = await fetch('/register/', {
                    method: 'POST',
                    body: fd,
                });
                if(response.status === 404) {
                    alert('Die Registrierung ist fehlgeschlagen');
                }
            } catch {
                alert('Die Registrierung ist fehlgeschlagen');
            }
        }
    }

</script>

<form class="auth-form" onsubmit="createUser(); return false;" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="username" class="mdl-textfield__input" type="text" id="sample3" required>
        <label class="mdl-textfield__label" for="sample3">Name...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="password" class="mdl-textfield__input" type="text" id="sample4" required>
        <label class="mdl-textfield__label" for="sample3">Passwort...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample5" required>
        <label class="mdl-textfield__label" for="sample3">Passwort...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Button
    </button>
</form>

{% endblock %}